dataset/csv/*
!dataset/csv/.keep

dataset/images/*
!dataset/images/.keep

labelled/*
!labelled/.keep

model-dropout/*
!model-dropout/.keep

.idea
.vscode
__pycache__

webapp/mongodb/*
!webapp/mongodb/mongodb.conf

webapp/app/static/dataset/*
!webapp/app/static/dataset/.keep

config.py
